body {
  margin: 0px;
  font-size: 14px;
  background-color: #161618;
  color: white;
  font-family: monospace;
}

button {
  border: none;
  border-right: 1px solid gray;
  background: black;
  color: white;	
  line-height: 20px;
}

input[type="text"] {
  border: none;
  background: black;
  color: gray;
  font-size: 16px;
  line-height: 20px;
}

video::-webkit-media-controls-panel {
  background-color: #161618;
}

video::-webkit-media-controls-volume-slider-container {
  background-color: cyan;
}

video::-webkit-media-controls-volume-slider {
  background-color: #1FB2B0;
}

video::-webkit-media-controls-timeline {
  background-color: #1FB2B0;
}

.clear-both {
  clear: both;
}


#video {
  width: 100vw;
  height: calc(100vh - 53px);
  background-color: black;
  float: left;
}

#controls {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
}

#controls input[type="checkbox"] {
  vertical-align: middle;
}

#source {
  width: 400px;
}

#timedifference {
  width: 50px;
}